/*
 * `deck` shortcode.
 */
.archidekt-deck .summary {
	display: flex;
	border: 1px solid #bbb;
	padding: 6px;
}
.archidekt-deck .featured-image {}
.archidekt-deck .featured-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
}
.archidekt-deck .details {
	padding: 0 12px;
}
.archidekt-deck .details .name {
	line-height: 1;
	font-size: 1.5rem;
}

/*
 * `deck-category` shortcode.
 */
.archidekt-deck-category .archidekt-category {
	display: flex;
	justify-content: space-between;
}

/*
 * Cards.
 */
.archidekt-hover-image {
	position: relative;
}
.archidekt-hover-image .card-image {
	display: none;
}
.archidekt-hover-image:hover .card-image {
	display: block;
	position: absolute;
	left: 100%;
	z-index: 10;
	width: 250px;
}
.archidekt-hover-image:hover .card-image img {
	border-radius: 12px;
}
